
<!DOCTYPE html>
<html>
    <head>
        <title>Stream</title>
        <link rel="stylesheet" type="text/css" href="styles.css">

    </head>
    <body>
        <div class="image-container">
            <img src="rediscope.png" alt="rediscope"/>
        </div>
        <div class="canvas-container">
            <canvas id="sender"></canvas>
            <canvas id="receiver" style="display:none;"></canvas>
        </div>
        <video id="video" style="display:none;"></video>
        <div class="controls">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" />
                <label class="onoffswitch-label" for="myonoffswitch"></label>
            </div>
        </div>
        <h3 class="btn-text ready">Ready to stream...</h3>
        <h3 class="btn-text streaming">Streaming...</h3>

<div id="message" style="display: none;"></div>
<script src="jquery.min.js"></script>
<script src="binary.min.js"></script>
<script src="modernizr.min.js"></script>
<script src="recorder.js"></script>
        </body></html>
